*{
    margin: 0;
    padding: 0;
}

header, .footer, aside, nav, article, section{
    border: 2px solid #4b6584;
    background: #fc5c65;
    padding: 1%;
}

body {
    text-align: left;
}

.contenedor {
    width: 90%;
    background: #eb3b5a;
    margin: 0% auto;
    padding: 5%;
}


.menu {
    text-align: left;
    background: #a5b1c2;

}

.menu li{
    list-style: none;
    padding: 5px;
    display: inline-block;
}

.content {
    
}

.section{
    width: 60%;
    float: left;
}

.nota {
    background: #a5b1c2;
}
.nota time{
    display: block;
}

.history {
    display: inline-block;
    width: 35.4%;
}

.footer{
    clear: both;
    background: #a5b1c2;
}
